<div *ngIf="notSamePasswordWarning">
    <app-message [message]="messages[0]"></app-message>
</div>
<div *ngIf="notSameOldAndNewPasswordWarning">
    <app-message [message]="messages[1]"></app-message>
</div>
<div *ngIf="wrongOldPasswordWarning">
    <app-message [message]="messages[2]"></app-message>
</div>
<h2>Change password</h2>

<div style="text-align: center;">
    <form [formGroup]="passwordChangeForm" (ngSubmit)="changePassword()">
        <p>Enter current password:</p>

        <input type="password" formControlName="currentPassword" [class.inputwarning]="isButtonClicked && wrongOldPasswordWarning"><br/>
    
        <p>Enter twice new password:</p>
    
        <input type="password" formControlName="newPassword1" [class.inputwarning]="isButtonClicked && !newPassword1.errors.passwordValidation"><br/>
        <div class="warnings" *ngIf="isButtonClicked">
            <div *ngIf="newPassword1.errors.required">
                Field password is not filled.
            </div>
            <div *ngIf="!newPassword1.errors.passwordValidation">
                Password must contain minimum one upper case letter, one lower case letter and one number.
            </div>
            <div *ngIf="newPassword1.errors.minlength">
                Password must contain at least 8 characters.
            </div>
            <div *ngIf="newPassword1.errors.maxlength">
                Password must contain maximum 30 characters.
            </div>
        </div>

        <input type="password" formControlName="newPassword2" [class.inputwarning]="isButtonClicked && !newPassword2.errors.passwordValidation"><br/>
        <div class="warnings" *ngIf="isButtonClicked">
            <div *ngIf="newPassword2.errors.required">
                Field password is not filled.
            </div>
            <div *ngIf="!newPassword2.errors.passwordValidation">
                Password must contain minimum one upper case letter, one lower case letter and one number.
            </div>
            <div *ngIf="newPassword2.errors.minlength">
                Password must contain at least 8 characters.
            </div>
            <div *ngIf="newPassword2.errors.maxlength">
                Password must contain maximum 30 characters.
            </div>

        </div>
    
        <button type="submit">Delete</button><br/>
    </form>

</div>
